.container {
    background-image: url(../../../../../assets/images/workers.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffff;
}

.background_filter {
    background-color: rgba(0, 0, 0, 0.49);
    height: 100%;
    width: 100%;
}

.content {
    padding: 165px 50px;
}

.heading {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 80px;
    max-width: 996px;
}

.text {
    font-size: 32px;
    font-weight: 500;
    max-width: 865px;
}

@media (max-width: 600px) {
    .content {
        padding: 60px 30px;
    }
    .heading {
        font-size: 40px;
    }
    .text {
        font-size: 25px
    }
}
@media (max-width: 400px) {
    .content {
        padding: 60px 20px;
    }
    .heading {
        font-size: 30px;
    }
    .text {
        font-size: 20px
    }

}