.btn {
    font-size: 30px;
    font-weight: 700;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #00867F;
    color: #ffffff;
    text-transform: uppercase;
}
.btn:hover {
    background-color: #00b3aa;
}
.white_btn {
    color: #00867F;
    background-color: #ffffff;;
}
.white_btn:hover {
    color: #00504c;
    background-color: #ECFCFA;;
}
@media (max-width: 580px) {
    .btn {
        font-size: 20px;
    }
}