.container {
    width: 100%;
    display: flex;
    
}

.author {
    min-width: 300px;
    width: 55%;
    background-color: #00867F;
    color: rgb(255, 255, 255);
    padding: 50px;
    font-size: 24px;
    font-weight: 400;
    line-height: 145%;
}
.photo_container {
    height: 300px;
    width: 300px;
    margin: 0 auto;
}
.author_photo {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.author_photo img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.author h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 500;
}
.text {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
    font-size: 20px;
    padding: 50px;
    line-height: 158%;
}
@media (max-width: 1100px) {
    .container {
        /* flex-direction: column; */
    }
    .author {
        padding: 60px 30px;
        width: 100%;
    }
    .text {
        /* font-size: 27px; */
        padding: 30px;
    }
}

@media (max-width: 720px) {
    .container {
        flex-direction: column;
    }
    .author {
        width: 100%;
        text-align: center;
    }
    .text {
        padding-top: 60px;
    }
}
@media (max-width: 500px) {
    .author,
    .text {
        min-width: auto;
        padding: 60px 20px;
    }
    .author h2 {
        font-size: 30px;
    }
    .author p,
    .text {
        font-size: 20px;
    }
}
@media (max-width: 350px) {
    .photo_container {
    height: 70vw;
    width: 70vw;
    min-width: 200px;
    min-height: 200px;
}
}
