.container {
    width: 100%;
    display: flex;
    
}

.author {
    min-width: 300px;
    width: 55%;
    height: 100%;
    background-color: #00867F;
    color: rgb(255, 255, 255);
    padding: 50px;
    font-size: 24px;
    font-weight: 400;
    line-height: 145%;
}
.author_photo {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgb(202, 202, 202);
    margin: 0 auto;
}
.author h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 500;
}
.text {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
    font-size: 30px;
    padding: 50px;
    line-height: 145%;
}
