@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

body {
   font-family: 'Open Sans', sans-serif;
   color: #252525;

}

.hidden {
   display: none;
}
.container {
    width: 100%;
    max-width: 1600px;
    min-width: 280px;
}
.background_filter {
    background-color: rgba(0, 0, 0, 0.49);
    height: 100%;
    width: 100%;
    /* position: absolute;
    top: 0;
    left: 0; */
}
.contact_form {
    /* background-color: rgb(255, 255, 255);
    padding: 100px 80px;
    border-radius: 56px; */
}

.contact_btn {
    /* font-size: 30px;
    font-weight: 700;
    padding: 20px 30px;
    border-radius: 20px; */
    
}

