*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
}

ul {
	list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
    font-weight: 400;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding:0;border:0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}