.container {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    min-height: 700px;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content {
    display: flex;
    justify-content: center;
}

.why_us__items {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.why_us__item {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 250px;
}

.why_us__icon {
    max-height: 170px;
    min-height: 120px;
    height: 16vw;
    margin-bottom: 30px;
}

.why_us__icon img {
    height: 100%;
}

.why_us__text_heading {
    font-size: 27px;
    font-weight: 700;
    color: #00867F;
    margin-bottom: 30px;
}
.why_us__text_heading,
.why_us__text {
    min-height: 220px;
    display: flex;
    align-items: center;
}
/* 1040px */
/* .why_us__text_heading {
        font-size: 22px;
    }
    .why_us__item {
        font-size: 18px;
    } */
@media (max-width: 1014px) {
    .container {
        height: auto;
    }
    .why_us__items {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    .why_us__item {
        max-width: 50%;
    }
    .why_us__text_heading,
    .why_us__text {
        min-height: auto;
    }
}
@media (max-width: 750px) {
    .why_us__item {
        max-width: 60%;
    }
}
@media (max-width: 500px) {
    .container {
        padding: 100px 20px;
    }
    .why_us__item {
        max-width: none;
    }
}