.header__container {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1600px;
}
.desktop {
    display: flex;
}
.header {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    position: relative;
    z-index: 1;
}
/* // 00867F */

a {
    color: black;
}

.navigation {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px;
}


li {
    /* margin-right: 20px; */
}
.logo {
    height: 70px;
}
.logo img {
    height: 100%;
}
.lang {
    position: relative;
    top: 0;
    right: 0;
}
.lang__chosen {
    /* position: relative;
    top: 0; */
}
.lang__options {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
}
@media (max-width: 972px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
    .burger {
        background-image: url(../../assets/icons/burger.svg);
        background-color: transparent;
        height: 8vw;
        width: 8vw;
        min-height: 34px;
        min-width: 34px;
        background-size: cover;
        cursor: pointer;
        margin: 0 0 0 auto ;
    }
}
@media (max-width: 500px) {
    .logo {
        height: 10vw;
        min-height: 40px;
    }
}
@media (max-width: 400px) {
    .header {
        padding: 30px 20px;
    }
}