
.container {
    padding: 200px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our_motto {
    font-size: 80px;
    font-weight: 700;
    position: relative;
    left: -20%;
    margin-bottom: 20px;
}
.our_motto_1,
.our_motto_2 {
    background-color: rgba(0, 134, 127, 0.5);
    height: 124px;
    width: 644px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 600;
    position: relative;
}
.our_motto_1 {
    color: #ffffff;
}
.our_motto_2 {
    right: -20%;
}