.container {
    width: 100%;
    height: 100vh;
    min-height: 700px;
    background-image: url(../../../../../assets/images/laptop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.content {
    background-color: hsla(177, 100%, 26%, 0.7);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    clip-path: polygon(68% 0, 100% 0, 100% 100%, 21% 100%);
    padding: 40px;
    /* justify-content: center; */
}
.source_attribute {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 12px;
}
/* .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: 800;
    text-transform: uppercase;
} */
.logo_text {
    margin-top: 10%;
    height: 70px;
    width: auto;
}
.details {
    margin-top: 8%;
    width: 50%;
    font-size: 48px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: end;
    line-height: 145%;
}
@media (max-width: 1400px) {
    .content{
        clip-path: polygon(47% 0, 100% 0, 100% 100%, 0% 100%);
    }
}
@media (max-width: 1024px) {
    .logo_text {
        height: 60px;
        width: auto;
    }
}
@media (max-width: 833px) {
    .container {
        min-height: 500px;
        max-height: 1000px;
    }
    .content{
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .details {
        font-size: 40px;
        line-height: 145%;
    }
    .details {
        text-align: center;
        width: 100%;
    }
}
@media (max-width: 533px) {
    .logo_text {
        height: 10vw;
        min-height: 28px;
    }
    .details {
        font-size: 30px;
    }
    .source_attribute {
        font-size: 10px;
    }
    /* .logo_text {
        height: 40px;
        width: auto;
    } */
    
}
@media (max-width: 400px) {
    .container {
        width: 100%;
        height: 500px;
        min-height: none;
    
    }
    .content {
        padding: 20px;
    }
    .details {
        font-size: 20px;
    }
    .source_attribute {
        font-size: 8px;
    }
}