.lang {
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
}
.lang__chosen {
    padding: 3px;
}
.lang__chosen:hover {
    color: #ffffff;
    background-color: #00b3aa;
}
.lang__options {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
}
.lang__option:hover {
    color: #ffffff;
    background-color: #00b3aa;
}
@media (max-width: 972px) {
    
}